<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>

        .box
        {
            box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
            border-radius: 3px;
            padding: 5px;
            margin:20px 0px;
        }
        .w3-teal, .w3-hover-teal:hover
        {
            background-color: #7e95ff!important;
            border-radius: 8px;

        }
        a.text-light:hover {
            color: #000!important;

        }
        .panel-heading
        {
            border-top-left-radius: 13px;
            border-top-right-radius: 13px;
            color:#fff;
            background-image: linear-gradient(rgb(184 209 255), rgb(38 128 169));
            box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
            border-radius: 3px;
        }
        .panel-footer
        {
            border:2px solid rgb(45 167 223);
            border-bottom-left-radius: 13px;
            border-bottom-right-radius: 13px;
        }
        .w3-large {
            font-size: 22px!important;
        }


    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand ml-5" th:href="@{/projects}">Project Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item btn btn-light mr-1">
                <img  th:src="${encodedImage}" class="rounded-circle"  height="20" width="20" />
                <a class="text-dark" th:href="@{/projects/profile/{id}(id=${user.id})}" th:text="${user.username}" ></a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-logout btn-light" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>


<div class="container col-lg-11 col-md-11 col-sm-11 justify-content-center">
<div class="content container-fluid">
    <div class="container-fluid">
        <div class="box">
        <h1 class="text-info m-1"><i class="fa fa-dashboard"></i><b> Dashboard</b><small> Statistics overview</small></h1>
        </div>
    <div class="row">
    <div class="col-lg-4 mb-3">
        <div class="panel">
            <div class="panel-heading p-2">
                <div class="row">
                    <div class="col-xs-7 col-lg-7 p-3">
                        <img th:src="@{/images/projects.png}" width="120" height="120">
                    </div>
                    <div class="col-xs-5 col-lg-5 p-3">
                        <div class="text-right" id="totalprojects" style="font-size: 65px" th:text="${totalProjects}"></div>
                        <div class="text-right" style="font-size: 15px">Total projects</div>
                    </div>

                </div>
            </div>
            <a th:href="@{/projects}">
                <div class="panel-footer bg-light p-2" style="color:#000;">
                    <div class="row">
                        <div class="col-lg-10">
                            View total projects</div>
                  <div class="text-right col-lg-2">
                      <img th:src="@{/images/arrow.png}" width="27" height="25">
                  </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>


      <div class="col-lg-4 mb-3">
          <div class="panel">
              <div class="panel-heading p-2">
                  <div class="row">
                      <div class="col-xs-7 col-lg-7 p-3">
                          <img th:src="@{/images/owner.png}" width="120" height="120">
                      </div>
                      <div class="col-xs-5 col-lg-5 p-3">
                          <div class="text-right" id="totalowners" style="font-size: 65px" th:text="${countDistinctOwners}"></div>
                          <div class="text-right" style="font-size: 15px">Total owners</div>
                      </div>

                  </div>
              </div>
              <a th:href="@{/projects/owner}">
                  <div class="panel-footer bg-light p-2" style="color:#000;">
                      <div class="row">
                          <div class="col-lg-10">
                              View all users</div>
                          <div class="text-right col-lg-2">
                              <img th:src="@{/images/arrow.png}" width="27" height="25">
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>

      <div class="col-lg-4 mb-3">
          <div class="panel">
              <div class="panel-heading p-2">

                  <div class="row">
                      <div class="col-xs-7 col-lg-7 p-3">
                          <img th:src="@{/images/users.png}" width="120" height="120">
                      </div>
                      <div class="col-xs-5 col-lg-5 p-3">
                          <div class="text-right" id="totalcases" style="font-size: 65px" th:text="${totalUsers}"></div>
                          <div class="text-right" style="font-size: 15px">Total members</div>
                      </div>

                  </div>
              </div>
              <a href="html/overall_situation.html">
                  <div class="panel-footer bg-light p-2" style="color:#000;">
                      <div class="row">
                          <div class="col-lg-10">
                              View total projects</div>
                          <div class="text-right col-lg-2">
                              <img th:src="@{/images/arrow.png}" width="27" height="25">
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </div>
              </a>
          </div>
      </div>
</div>
    </div>
</div>
</div>
</body>

</html>