<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <style>
       .checkbox-container {
           max-height: 200px; /* Set a fixed height for the container */
           overflow-y: auto;
           padding: 20px;/* Enable vertical scrollbar */
           border:1px solid #797979;
           background-color: #e9ecef;
           border-radius: 13px;
       }
        .main{
            -webkit-box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
            box-shadow: 0px 0px 10px 2px rgb(0 0 0 / 10%);
            -webkit-transition: .25s ease-out;
            margin-top:4%;
        }
       .field{
           padding: 12px 20px;
           box-sizing: border-box;
           border-radius: 13px;
           border:1px solid #797979;
           background-color: #e9ecef;
       }
   </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand ml-5" th:href="@{/projects}">Project Management System</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item btn btn-light mr-1">
                <img  th:src="${encodedImage}" class="rounded-circle"  height="20" width="20" />
                <a class="text-dark" th:href="@{/projects/profile/{id}(id=${user.id})}" th:text="${user.username}" ></a>
            </li>
            <li class="nav-item">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-logout btn-light" type="submit">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>
<div class="col-lg-8 col-md-8 col-sm-8 container justify-content-center card main">
    <h1 class="text-center mt-4 mb-4">Update project</h1>
    <div class="card-body">
    <form th:action="@{/projects/{id} (id=${project.id}) }"  th:object="${project}" method="post">
        <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" th:field="*{name}" class="form-control field" required>
    </div>
        <div class="form-group">
            <label for="intro">Introduction:</label>
            <textarea id="intro" name="intro" th:field="*{intro}" class="form-control field"></textarea>
        </div>
        <div class="row">
        <div class="col-lg-6 form-group">
            <label for="start-date">Start Date:</label>
            <input type="date" id="start-date" name="start-date" th:field="*{startDate}" class="form-control field" required>
        </div>
        <div class="col-lg-6 form-group">
            <label for="end-date">End Date:</label>
            <input type="date" id="end-date" name="end-date" th:field="*{endDate}" class="form-control field" required>
        </div>
        </div>



        <div class="form-group">
            <label>Change Owner: </label>
            <select class="form-control field" name="newOwner" id="newOwner" style="height:50px">
                <option th:value="${user.id}" th:text="${user.username}" th:selected="${user.id}">Select an option</option>
                <option th:each="owner : ${members}" th:value="${owner.id}" th:text="${owner.username}">Select an option</option>

            </select>
        </div>

        <div class="form-group">
            <label>Change Members:</label>
            <div class="checkbox-container">
            <th:block id="added-members" th:each="user : ${users}">
                <div class="form-check">
                    <input id="member-selected" th:if="${members.contains(user)}" class="form-check-input" name="selectedmembers" type="checkbox" th:value="${user.getId()}" th:text="${user.username}" th:checked="${members.contains(user)}" />
                </div>
                <div class="form-check">
                    <input id="member-unselected" th:unless="${members.contains(user)}" class="form-check-input" name="unselectedmembers" type="checkbox" th:value="${user.getId()}" th:text="${user.username}" th:checked="${members.contains(user)}" onclick="limitSelection()" />
                </div>
            </th:block>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-11">
        <div class="form-group">
            <input type="submit" value="Update" class="btn btn-success">
        </div>
        </div>
            <div class="col-lg-1">
                <a th:href="@{/projects/details/{id}(id=${project.id})}" class="btn btn-secondary">Back</a>
            </div>
        </div>
    </form>
    </div>

</div>
<br><br><br>

<script th:inline="javascript">
    document.getElementById("start-date").addEventListener("change", checkDate);
    document.getElementById("end-date").addEventListener("change", checkDate);

    function checkDate() {
        var startDate = document.getElementById("start-date").value;
        var endDate = document.getElementById("end-date").value;
        if (startDate > endDate) {
            alert("Start date must be before end date");
            document.getElementById("start-date").value = "";
            document.getElementById("end-date").value = "";
        }
    }


        function limitSelection() {
            //get the number of check boxes which are disabled
            var disabled = document.querySelectorAll('#member-selected:checked').length;
            var checkboxes = document.querySelectorAll('#member-unselected:checked');
            if (checkboxes.length+ disabled > 5) {
                checkboxes[checkboxes.length - 1].checked = false;
            }
        }



</script>

</body>
</html>